/*table#rosterTable 
{
	border-spacing: 0;
	
	border-collapse: separate; */
	/*
	this is workaround for chrome bug
	https://stackoverflow.com/questions/25591499/chrome-bug-with-colspan-and-border
	
	border-collapse: collapse; //It hit the chrome bug
	width:1660px;
	*/	
	
	
	
/*}

thead tr+tr+tr td:first-child,
tbody td:first-child
{
	border-left:1px solid #e0e0e0;
}
tbody tr:last-child td
{
	border-bottom:1px solid #e0e0e0;
}
*/
.alignCenter
{
	text-align: center;
}
.rosterMonthSelect
{
	font-size:15px;
	font-weight: bold;
	border:none;
	direction:rtl;
}
.selectCellBorderLeft
{
	border-left:3px solid black!important;
}
.selectCellBorderRight
{
	border-right:3px solid black!important;
}
.selectCellBorderTop
{
	border-top:3px solid black!important;
}
.selectCellBorderBottom
{
	border-bottom:3px solid black!important;
}

.underlineText
{
	text-decoration: underline;
}
.borderCell
{
	border-top:1px solid #e0e0e0;
	border-right:1px solid #e0e0e0;
}
.dataCell
{
	padding: 0px;
	text-align: center;
	font-size:15px;
	width:30px;
}
.actualHourCell
{
	font-size:15px;
	width:50px;
}
.lastMonthCell
{
	font-size:15px;
	width:50px;
}
.nameCell
{
	padding:0px;
	width:200px;
	font-size:17px;
	text-align:left;
}
.phCell
{
	color:#ff0000;
	font-size:15px;
	font-weight: bold;
}
.rosterMonthSelectCell
{
	font-size:15px;
	font-weight: bold;
}
.thisMonthCell
{
	font-size:15px;
	width:50px;
}	
.titleCell	
{
	font-size:18px;
	font-weight: bold;
}
.totalCell
{
	font-size:15px;
	width:50px;
}	
.totalHourCell
{
	font-size:15px;
	width:50px;
}
.totalNoOfCell
{
	font-size:15px;
	width:60px;
}
.noOfWorkingDay
{
	font-size:15px;
	width:60px;
}
.aShiftColor
{
	background-color:#ff99cc;
}
.bShiftColor
{ 
	background-color:#ffffcc;
}
.cShiftColor
{
	background-color:#ccffcc;
}
.oShiftColor
{
	background-color:#ffffff;
}
.dxShiftColor
{
	background-color:#ccffff;
}
.vancantShift
{
	color:#ff6600;
	text-align:right!Important;
}
.footer
{
	display:none;
}
tr#theLowestSD:hover,
tr#secondLowestSD:hover,
tr#thirdLowestSD:hover,
tr#theLowestMissingShiftCount:hover,
tr#theSecondLowestMissingShiftCount:hover,
tr#theThirdLowestMissingShiftCount:hover
{
	cursor: pointer;
}
div#yearlyStatistic
{
	height:450px;
	overflow-y:scroll;
}
.findMissingShiftButton
{
	/* background styles */
	position: relative;
	display: inline-block;
	padding: 10px 15px;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	background-color: green; /*for compatibility with older browsers*/
	background-image: linear-gradient(green,lightgreen);
	box-shadow: 0px 1px 4px -2px #333;
	text-shadow: 0px -1px #333;
	/* text styles */
	text-decoration: none;
	color: #fff;
	font-size: 20px;
	font-family: sans-serif;
	font-weight: 100;
}

.findMissingShiftButton:hover
{
	background: linear-gradient(#073,#0fa);
	cursor: pointer;
}
.findDuplicateShiftButton
{
	/* background styles */
	position: relative;
	display: inline-block;
	padding: 10px 15px;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	background-color: blue; /*for compatibility with older browsers*/
	background-image: linear-gradient(blue,lightblue);
	box-shadow: 0px 1px 4px -2px #333;
	text-shadow: 0px -1px #333;
	/* text styles */
	text-decoration: none;
	color: #fff;
	font-size: 20px;
	font-family: sans-serif;
	font-weight: 100;
}
.findDuplicateShiftButton:hover
{
	background: linear-gradient(#1f4160,#1e3460);
	cursor: pointer;
}
.checkAllButton
{
	/* background styles */
	position: relative;
	display: inline-block;
	padding: 10px 15px;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	background-color: purple; /*for compatibility with older browsers*/
	background-image: linear-gradient(purple,lightpurple);
	box-shadow: 0px 1px 4px -2px #333;
	text-shadow: 0px -1px #333;
	/* text styles */
	text-decoration: none;
	color: #fff;
	font-size: 20px;
	font-family: sans-serif;
	font-weight: 100;
}
.checkAllButton:hover
{
	background: linear-gradient(#663399,#7E329A);
	cursor: pointer;
}
.clearAllButton
{
	position: relative;
	display: inline-block;
	padding: 10px 15px;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	background-color: #FF8500; /*for compatibility with older browsers*/
	background-image: linear-gradient(#FF8500,lightOrange);
	box-shadow: 0px 1px 4px -2px #333;
	text-shadow: 0px -1px #333;
	/* text styles */
	text-decoration: none;
	color: #fff;
	font-size: 20px;
	font-family: sans-serif;
	font-weight: 100;
}
.clearAllButton:hover
{
	background: linear-gradient(#FF8500,#F7A80A);
	cursor: pointer;
}
.exportButton
{
	position: relative;
	display: inline-block;
	padding: 10px 15px;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	background-color: black; /*for compatibility with older browsers*/
	background-image: linear-gradient(black,#6E685E);
	box-shadow: 0px 1px 4px -2px #333;
	text-shadow: 0px -1px #333;
	/* text styles */
	text-decoration: none;
	color: #fff;
	font-size: 20px;
	font-family: sans-serif;
	font-weight: 100;
}
.exportButton:hover
{
	background: linear-gradient(#6E685E,black);
	cursor: pointer;
}
.saveRosterToDBButton
{
	position: relative;
	display: inline-block;
	padding: 10px 15px;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	background-color: red; /*for compatibility with older browsers*/
	background-image: linear-gradient(red,lightred);
	box-shadow: 0px 1px 4px -2px #333;
	text-shadow: 0px -1px #333;
	/* text styles */
	text-decoration: none;
	color: #fff;
	font-size: 20px;
	font-family: sans-serif;
	font-weight: 100;
}
.saveRosterToDBButton:hover
{
	background: linear-gradient(pink,red);
	cursor: pointer;
}	
.autoPlannerButton
{
	position: relative;
	display: inline-block;
	padding: 10px 15px;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	background-color: #8B4513 ; /*for compatibility with older browsers*/
	background-image: linear-gradient(#8B4513,#A0522D);
	box-shadow: 0px 1px 4px -2px #333;
	text-shadow: 0px -1px #333;
	/* text styles */
	text-decoration: none;
	color: #fff;
	font-size: 20px;
	font-family: sans-serif;
	font-weight: 100;
}
.autoPlannerButton:hover
{
	background: linear-gradient(#800000,#8B4513);
	cursor: pointer;
}	
.exportButton:after,
.clearAllButton:after,
.checkAllButton:after,
.autoPlannerButton:after,
.saveRosterToDBButton:after,
.findMissingShiftButton:after, 
.findDuplicateShiftButton:after	
{
	content: '';
	position: absolute;
	top: 2px;
	left: 2px;
	width: calc(100% - 4px);
	height: 50%;
	background: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.2));
}
