.shiftCell{
    font-size: 17px;
}
.shiftCell:focus 
{
	outline: none;
}
.shiftCell:hover{
	cursor: cell;
}
.shiftCell::selection
{
  background: none; /* WebKit/Blink Browsers */
}
.shiftCell::-moz-selection
{
  background: none; /* WebKit/Blink Browsers */
}

/*******************************************************************************************************
 *                                                                                                     *
 *    Shift color style                                                                                *
 *                                                                                                     *
 *******************************************************************************************************/
 .aShiftColor
 {
   background-color:#ff99cc;
 }
 .bShiftColor
 { 
   background-color:#ffffcc;
 }
 .cShiftColor
 {
   background-color:#ccffcc;
 }
 .oShiftColor
 {
   background-color:#ffffff;
 }
 .dShiftColor
 {
   background-color:#ccffff;
 }
 .sickLeaveColor
 {
   background-color:#cc99ff;
 }
 /********************************************************************************************************/