/* The navigation menu links */
.itemList a,
.itemList span{
    color: #f1f1f1;
	display: block;
    font-family: Arial;
	font-size: 20px;
    padding: 4px 4px 4px 32px;
	text-decoration: none;
	transition: 0.3s;
}
.itemList{
	list-style-type: square ;
}
.itemList li > ul {
	list-style-type: square ;
}
span.logout {
	cursor: pointer;
}