td{
	border:1px inset #e0e0e0;
}
td.QQ:focus 
{
	outline: none;
}
td.QQ::selection{
	background: none;
}
table{
  border-spacing: 0;
  border-collapse: collapse;
  line-height: 1.16;
}
.copiedCellBorderLeft
{
	border-left:1px dashed black!important;
}
.copiedCellBorderLeft:after
{
	border-left:2px dashed black!important;
}
.copiedCellBorderRight
{
	border-right:1px dashed black!important;
}
.copiedCellBorderRight:after
{
	border-right:2px dashed black!important;
}
.copiedCellBorderTop
{
	border-top:1px dashed black!important;
}
.copiedCellBorderTop:after
{
	border-top:2px dashed black!important;
}
.copiedCellBorderBottom
{
	border-bottom:1px dashed black!important;
}
.copiedCellBorderBottom:after
{
	border-bottom:2px dashed black!important;
}
.nameCell{
  width:200px;
}
.selectCellBorderLeft
{
	border-left:1px solid black!important;
}
.selectCellBorderLeft:after
{
	border-left:2px solid black!important;
}
.selectCellBorderRight
{
	border-right:1px solid black!important;
}
.selectCellBorderRight:after
{
	border-right:2px solid black!important;
}
.selectCellBorderTop
{
	border-top:1px solid black!important;
}
.selectCellBorderTop:after
{
	border-top:2px solid black!important;
}
.selectCellBorderBottom
{
	border-bottom:1px solid black!important;
}
.selectCellBorderBottom:after
{
	border-bottom:2px solid black!important;
}
