.littleSquareDiv {
	background-color: rgb(0, 140, 255);
	top: calc(100% - 3px);
	left: calc(100% - 3px);
	height: 6px;
	position: absolute;
	width: 6px;
	z-index: 10;
}

.littleSquareDiv:hover {
	cursor: crosshair;
}
.selectCellBorderBottom{
	border-bottom: 1px solid rgb(0, 140, 255);
}
.selectCellBorderLeft{
	border-left: 1px solid rgb(0, 140, 255);
}
.selectCellBorderRight{
	border-right: 1px solid rgb(0, 140, 255);
}
.selectCellBorderTop{
	border-top: 1px solid rgb(0, 140, 255);
}
.shiftContent{
	align-items: center;
	display: flex;	
	height: 100%;
	justify-content: center;
	left:0;	
	position:absolute;
	top:0;
	width:100%;
}
.shiftContent:empty{
	line-height:2.5em;
}
.shiftContent:focus{
	outline:none;	
}
.shiftContent:hover {
	cursor: cell;
}
.shiftContent::selection{
	background: none; 
}
.statCell{	
    font-size: 15px;
    width:60px
}