.disabledBtn{
  color:grey;
}
.changeBtn,
.monthCell{
  cursor: pointer;
}
.monthCell:hover{
  background-color: white;
  color:black;
}
.popup {
  background-color: black;
  color:white;
  font-size:20px;
  font-family:Arial;
  font-weight: bold;
  position:absolute;
  z-index: 10;
}
.result{
  font-family:'Times New Roman';
  font-size:17px;
  font-weight: bold;  
  text-decoration: underline;
}