    <td class="nameCell borderCell">Resident Support<br>Team Members</td>
    <td *ngFor="let calendarObj of calendarObjList;"
        class="alignCenter borderCell dateCell"
        [ngClass]="{'todayCell':isToDay(calendarObj),
                    'highlightCursor':isCursorColumn(calendarObj)}">
        {{ ((calendarObj!=null)?calendarObj.solarDate:'') }}
    </td>
    <td class="alignCenter lastMonthCell borderCell">Last<br>Month</td>
    <td class="alignCenter thisMonthCell borderCell">This<br>Month</td>
    <td class="alignCenter totalCell borderCell">Total</td>
    <td class="alignCenter shiftCountCell borderCell">Total No. of <br>A Shift</td>
    <td class="alignCenter shiftCountCell borderCell">Total No. of <br>Bx Shift</td>
    <td class="alignCenter shiftCountCell borderCell">Total No. of <br>C Shift</td>
    <td class="alignCenter shiftCountCell borderCell">Total No. of <br>Dx Shift</td>
    <td class="alignCenter noOfWorkingDayCell borderCell">No. of <br>working<br>day</td>
