.highlightCell
{
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffc477), color-stop(1, #fb9e25));
	background:-moz-linear-gradient(top, #ffc477 5%, #fb9e25 100%);
	background:-webkit-linear-gradient(top, #ffc477 5%, #fb9e25 100%);
	background:-o-linear-gradient(top, #ffc477 5%, #fb9e25 100%);
	background:-ms-linear-gradient(top, #ffc477 5%, #fb9e25 100%);
	background:linear-gradient(to bottom, #ffc477 5%, #fb9e25 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc477', endColorstr='#fb9e25',GradientType=0);
	background-color:#ffc477;
}
.phCell{
    color:#ff0000;
    width:25px;
}
.todayCell {
    background-color: #11ACF0;
    color: #ffff;
    font-weight: 100;
    font-family: sans-serif;
    padding: 0px;
}
/*******************************************************************************************************
 *                                                                                                     *
 *    Copied Region border style                                                                       *
 *                                                                                                     *
 *******************************************************************************************************/
 .copiedCellBorderLeft
 {
	 border-left:1px dashed black!important;
 }
 .copiedCellBorderLeft:after
 {
	 border-left:2px dashed black!important;
 }
 .copiedCellBorderRight
 {
	 border-right:1px dashed black!important;
 }
 .copiedCellBorderRight:after
 {
	 border-right:2px dashed black!important;
 }
 .copiedCellBorderTop
 {
	 border-top:1px dashed black!important;
 }
 .copiedCellBorderTop:after
 {
	 border-top:2px dashed black!important;
 }
 .copiedCellBorderBottom
 {
	 border-bottom:1px dashed black!important;
 }
 .copiedCellBorderBottom:after
 {
	 border-bottom:2px dashed black!important;
 }
 /*******************************************************************************************************
  *                                                                                                     *
  *    Selected Region border style                                                                     *
  *                                                                                                     *
  *******************************************************************************************************/
 .selectCellBorderLeft
 {
	 border-left:1px solid black!important;
 }
 .selectCellBorderLeft:after
 {
	 border-left:2px solid black!important;
 }
 .selectCellBorderRight
 {
	 border-right:1px solid black!important;
 }
 .selectCellBorderRight:after
 {
	 border-right:2px solid black!important;
 }
 .selectCellBorderTop
 {
	 border-top:1px solid black!important;
 }
 .selectCellBorderTop:after
 {
	 border-top:2px solid black!important;
 }
 .selectCellBorderBottom
 {
	 border-bottom:1px solid black!important;
 }
 .selectCellBorderBottom:after
 {
	 border-bottom:2px solid black!important;
 }
 