.active,
.activeMonth {
  cursor: pointer;
  color: black;
}
.activeMonth:hover {
  background-color: black;
  color: white;
}
.inActive {
  color: rgb(207, 202, 202);
}
.jpickerContainter{
    display: flex;
    flex-direction: column;
    flex-grow: 1 ;  
    justify-content: center;  
  }
.jpickerSmallStepSelector{
  display: flex;
  justify-content: center;  
}
.jpickerBigStepSelector {
  background-color: white;
  border-radius: 3%;
  box-shadow: 0px 5px 5px grey;
  font-family: 'Comic Sans MS';
  font-size: 20px;
  height: 200px;
  position: absolute;
  text-align: center;
  width: 200px;
  z-index: 10;
}
.jpickerBigStepSelector tfoot{
  text-align: right;
}
.jpickerBigStepSelector thead {
  background-color: #f0f0f0;
  border-bottom: 1px solid black;
  width:100%;
}
.jpickerBigStepSelectorContainer {
  display: flex;
  flex-grow: 1 1;
  justify-content: center;  
  position: relative;
}
.jpickerSmallStepSelector {
  align-items: center;
  font-family: 'Times New Roman';
  font-size: 17px;
  font-weight: bold;
  position: relative;
  text-decoration: underline;   
}
.jpickerValue{
  border: 0px solid black;
  cursor: pointer;
  font-family: 'Times New Roman';
  font-size: 17px;
  font-weight: bold;
  outline: none; 
  text-align: center;
  text-decoration: underline; 
  width: fit-content;
}