.calendarTable{
    border: 1px solid black;
    font-size: 12px;
    margin: 1px;
}
.calendarTable td{
    min-height:33px;
    min-width:33px;
    text-align: center;
}
.clickable{
    cursor: pointer;
}
.calendarTable > tbody td:not(:empty):hover{
    background-color:#ccffff;
    color: black;
    cursor: pointer;
}
.center{
    text-align: center;
}
.dateTimePicker{
    display: inline-block;
    flex-direction: column;
}
.dateTimeResult{
    border: 1px solid black;
    cursor: pointer;
    margin: 1px;
    padding-left: 2px;
    padding-right: 2px;
}
.ph{
    color:red;
    font-weight: bold;
}
.pickerContainer{
    background-color: white;
    border:1px solid black;
    margin:0px;
    position: absolute;
    z-index: 1000;
}
.selectedItem{
    background-color:red;
    color:white;
    font-weight: bold;
}
.timeSelector{
    border: 1px solid black;
    display: inline-block;
    align-items: center;    
    margin-top: 2px;
    padding: 1px;    
}
.timeSelectorDigit{
    outline:none;
}
.timeSelectorUpDown{
    cursor: pointer;
    display: inline-flex;
    flex-direction: column;
    flex-grow: 1;
    font-size: 10px;
    margin: 0px;
    padding: 0px;    
    vertical-align:middle;
}
.todayButton{
    margin: 2px;
    text-align: right;
}