.closebtn{
    color:white;
    cursor: pointer;
    display:flex;
    flex-direction:row;
    font-size: 40px;
    font-weight:bold;
    justify-content:flex-end;
    padding-right:10px;
    margin:0px;
}
.content{
    display:flex;
    flex-grow:1;
    flex-direction: column;    
    margin:0;
    padding:5px;
}
.hamburger{
    cursor: pointer;
    display:flex;
    font-size: 30px;
    font-weight:bold;
    margin-left:5px;
    padding: 0px;
}
.hideNav{
    width: 0px;
}
.showNav{
    width:250px;
}
.item{
    left:0;				
    margin:0px;
    padding:0px;
    position:absolute;
    top:0;
}
.main{
    display:flex;
    flex-direction:row;
    height:100%;				
    width:100%;
}
.hideNav,
.showNav{
    background-color:red;
    display:flex;
    flex-direction:column;
    height:100%;
    overflow-x: hidden;
    transition: 0.5s;				
    z-index:10;  
}