@charset "UTF-8";
html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}
.redBackground
{
	background-color:red;
}
.whiteBackground
{
	background-color:white;
}
.textInWhite
{
	color:white;
}
.padding
{
	padding:8px;
}
div.modalBackground
{
	left:0;
	top:0;
	display:flex;
	justify-content:center;
	align-items:center;
	position:fixed;
	width:100%;
	height:100%;
	z-index:10000;
}	
div.modal
{
	display: flex!important;
	flex-direction: column!important;
	background-color:white;
	max-height:100%;
}
div.modalRoundCorner
{
	border-radius:10px;
}
div.modalTitleBar
{
	margin: 0;
}
div.modalTitleBarRoundCorner
{
	border-radius:10px 10px 0px 0px;
}
div.modalTitleWrapper
{
	float:left!important;
}
div.modalCloseButtonWrapper
{
	float:right!important;
	cursor:pointer;
}
div.modalMessageContainer
{
	flex: 1!important;
	display: flex!important;
	flex-direction: column!important;
	min-height:0px!important;
}
div.modalMessageWrapper
{
	flex: 1!important;
	overflow:auto!important;
	display: flex!important;
	flex-direction: column!important;
	min-height:0px!important;
}
div.modalButtonBar 
{
	margin-top: auto!important;
}
div.modalButtonRight
{
	margin-left:3px;
	float:right!important;
}
div.modalButtonCenter
{
	margin-top: auto;
	text-align:center!important;
}
@media screen and (max-width:768px) 
{ 
	div.modal{width:200px;height:auto}
}
@media screen and (max-width:992px)
{ 
	div.modal{width:400px;height:auto}
}
@media screen and (min-width:992px)
{ 
	div.modal{width:600px;height:auto}
}