table#rosterTable,
table#yearlyStatistic 
{
	border-spacing: 0;
	border-collapse: collapse;
	width:1660px;
}
.alignCenter
{
	text-align: center;
}
.underlineText
{
	text-decoration: underline;
}
.borderCell
{
	border:1px inset #e0e0e0;
}
.borderCell:after
{	
	border:2px inset transparent;
}
.nameCell
{
	padding:0px;
	width:200px;
	font-size:17px;
	text-align:left;
}
.noOfWorkingDay
{
	font-size:15px;
	width:60px;
}
.shiftCountCell
{
	font-size:15px;
	width:60px;
}
.titleCell	
{
	font-size:18px;
	font-weight: bold;
}
.totalCell
{
	font-size:15px;
	width:50px;
}	
.totalHourCell
{
	font-size:15px;
	width:50px;
}