.alignCenter
{
	text-align: center;
}
.underlineText
{
	text-decoration: underline;
}
.actualHourCell
{
	font-size:15px;
	width:50px;
}
.borderCell
{
	border:1px inset #e0e0e0;
}
.borderCell:after
{	
	border:2px inset transparent;
}
.captionCell	
{
	font-size:18px;
	font-weight: bold;
}
.dateCell
{
	padding: 0px;
	font-size:17px;
	width:25px;
}
.highlightCell
{
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffc477), color-stop(1, #fb9e25));
	background:-moz-linear-gradient(top, #ffc477 5%, #fb9e25 100%);
	background:-webkit-linear-gradient(top, #ffc477 5%, #fb9e25 100%);
	background:-o-linear-gradient(top, #ffc477 5%, #fb9e25 100%);
	background:-ms-linear-gradient(top, #ffc477 5%, #fb9e25 100%);
	background:linear-gradient(to bottom, #ffc477 5%, #fb9e25 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc477', endColorstr='#fb9e25',GradientType=0);
	background-color:#ffc477;
}
.lastMonthCell
{
	font-size:15px;
	width:50px;
}
.nameCell
{
	padding:0px;
	width:200px;
	font-size:17px;
	text-align:left;
}
.noOfWorkingDayCell
{
	font-size:15px;
	width:60px;
}
.phCell
{
	color:#ff0000;
	font-size:17px;
	font-weight: bold;
}
.selectRosterMonthCell
{
	font-size:15px;
	font-weight: bold;
}
.shiftCountCell
{
	font-size:15px;
	width:60px;
}
.thisMonthCell
{
	font-size:15px;
	width:50px;
}
.todayCell
{
	background-color:#11ACF0;
	color:#ffff;
	font-weight: 100;
	font-family: sans-serif;
}
.totalCell
{
	font-size:15px;
	width:50px;
}
.totalHourCell
{
	font-size:15px;
	width:50px;
}
table#rosterTable
{
	border-spacing: 0;
	border-collapse: collapse;
	width:1660px;
}
td.cursorCell
{
	margin:0px;
	padding: 0px;
	font-size:17px;
//	position:relative;
}
/*******************************************************************************************************
 *                                                                                                     *
 *    Shift color style                                                                                *
 *                                                                                                     *
 *******************************************************************************************************/
.aShiftColor
{
	background-color:#ff99cc;
}
.bShiftColor
{ 
	background-color:#ffffcc;
}
.cShiftColor
{
	background-color:#ccffcc;
}
.oShiftColor
{
	background-color:#ffffff;
}
.dShiftColor
{
	background-color:#ccffff;
}
.sickLeaveColor
{
	background-color:#cc99ff;
}