<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>rosterWeb</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>rosterViewer</welcome-file>
  </welcome-file-list>
  <servlet>
  	<servlet-name>RestfulServices</servlet-name>
  	<servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
  	<init-param>
    	<param-name>jersey.config.server.provider.packages</param-name>
    	<param-value>com.rosterWeb.dataServices</param-value>
    </init-param>
    <init-param> 
     <param-name>jersey.config.server.provider.classnames</param-name> 
     <param-value>com.rosterWeb.filter.RestfulServicesFilter</param-value> 
    </init-param> 
  	<load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
  	<servlet-name>RestfulServices</servlet-name>
  	<url-pattern>/RestfulServices/*</url-pattern>
  </servlet-mapping>
</web-app>