<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>rosterWeb</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>rosterViewer</welcome-file>
  </welcome-file-list>
  <servlet>
		<servlet-name>RosterScheduler</servlet-name>
		<servlet-class>util.ui.RosterScheduler</servlet-class>
		<load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
		<servlet-name>RosterScheduler</servlet-name>
		<url-pattern>/admin/rosterScheduler</url-pattern>
  </servlet-mapping>
  <servlet>
		<servlet-name>RosterViewer</servlet-name>
		<servlet-class>util.ui.RosterViewer</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>RosterViewer</servlet-name>
		<url-pattern>/rosterViewer</url-pattern>
	</servlet-mapping>
</web-app>