/*******************************************************************************************************
 *                                                                                                     *
 *    Roster Scheduler Button style                                                                    *
 *                                                                                                     *
 *******************************************************************************************************/
 .autoPlannerButton {
    position: relative;
    display: inline-block;
    padding: 10px 15px;
    -moz-border-radius: 28px;
    -webkit-border-radius: 28px;
    border-radius: 28px;
    background-color: #8B4513;
    /*for compatibility with older browsers*/
    background-image: linear-gradient(#8B4513, #A0522D);
    box-shadow: 0px 1px 4px -2px #333;
    text-shadow: 0px -1px #333;
    /* text styles */
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 100;
}

.autoPlannerButton:hover {
    background: linear-gradient(#800000, #8B4513);
    cursor: pointer;
    color: #fff;
}

.autoPlannerButton:after{
    background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.2));
    border-radius: 28px 28px 0px 0px;
    content: '';
    height: 50%;
    left: 2px;
    position: absolute;
    top: 2px;
    width: calc(100% - 4px);
}