.monthPicker{
    display: inline-block;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}

.monthPickResult {
    cursor: pointer;
    text-decoration: underline;
    margin: 1px;
    padding-left: 2px;
    padding-right: 2px;
}