.editableShiftCell:hover {
	cursor: cell;
}

.littleSquareDiv {
	background-color: rgb(0, 140, 255);
	top: calc(100% - 3px);
	left: calc(100% - 3px);
	height: 6px;
	position: absolute;
	width: 6px;
	z-index: 10;
}

.littleSquareDiv:hover {
	cursor: crosshair;
}

.selected {
	background-color: #ccf1ff;
	height: 100%;
	left: 0;
	position: absolute;
	opacity: 0.7;
	top: 0;
	width: 100%;
	z-index: 100;
}

.selectedBottom {
	border-bottom: 1px solid rgb(0, 140, 255);
}

.selectedLeft {
	border-left: 1px solid rgb(0, 140, 255);
}

.selectedRight {
	border-right: 1px solid rgb(0, 140, 255);
}

.selectedTop {
	border-top: 1px solid rgb(0, 140, 255);
}

.shiftType {
	align-items: center;
	box-sizing: padding-box;
	display: flex;
	height: 100%;
	justify-content: center;
	left: 0;
	margin: 0px;
	position: absolute;
	top: 0;
	width: 100%;
}


.shiftType:focus {
	/*outline: 1px solid rgb(0, 140, 255);*/
	outline:none;
}
.shiftType::-moz-selection {
	background: none;
}

.shiftType::selection {
	background: none;
}